body{
    margin: 50px;
    background: linear-gradient(grey 0%,black 100%);
    text-align: center;
}

#apps{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 20px;
}

#games{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 20px;
   
}

#chatbot{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 20px;
}

img{
  margin: 20px;
  border-radius: 20px ;
    display: inline;
    width: 20%;
}

h1{
    font-size: 50px;
    font-family: cursive;
}

